body{
    font-family: Arial;
}
#results{
    font-size: 24px;
}

#numwords{
    font-size: 20px;
}

#results ul {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    margin: 30px 0px;
    padding: 0;
}

.result_word{
    width: fit-content;
    width: -moz-fit-content;
    text-decoration: underline wavy;
    cursor: pointer;
}

.result_word.awkward{
    color: mediumpurple;
}

.result_word:hover{
    opacity: 0.8;
}