*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --width: 1000px;
    --theme: #b82828;
    --color: white;
}

body{
    background: #212121;
    margin: 0;
    color: var(--color);
    font-family: Arial, serif;
}

nav{
    width: 100%;
    padding: 0 calc((100% - var(--width)) / 2);
    background: var(--theme);
    height: 64px;
    display: flex;
}

#actionbar{
    margin-bottom: 50px;
    background: #2D2D2A;
    padding: 10px calc((100% - var(--width)) / 2);
}

section{
    background: #2D2D2A;
    padding: 30px;
    display: flex;
    height: calc(100vh - 200px);
    width: var(--width);
    margin: auto;
    border-radius: 8px 8px 0 0;
    column-gap: 20px;
}

#nav__logo{
    padding: 8px;
}

main{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: calc(var(--width) / 2 - 10px);
    row-gap: 20px;
}

aside {
    width: calc(var(--width) / 2 - 10px);
    font-size: 24px;
    display: inline-flex;
    flex-direction: column;
    row-gap: 30px;
    overflow: auto;
}

.square {
    background: #202020;
    border: 1px solid gray;
    border-radius: 10px;
    width: calc((var(--width) / 2 - 10px) / var(--size) - 27px);
    height: calc((var(--width) / 2 - 10px) / var(--size) - 27px);
    font-weight: bolder;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 7px;
}

.flex-center{
    display: flex;
    align-items: center;
}

aside > div{
    column-gap: 10px;
}
aside > div > input{
    background: none;
    border: none;
    border-bottom: 2px solid var(--theme);
    width: 100px;
    color: white;
    outline: none;
    text-align: center;
    font-size: 18px;
}

.square input{
    background: none;
    border: none;
    width: 80%;
    height: 80%;
    text-align: center;
    color: white;
    font-size: calc(0.5 * ((var(--width) / 2 - 10px) / var(--size) - 20px));
    font-weight: bolder;
    outline: none;
    text-transform: capitalize;
    z-index: 2;
}

aside :is(h1, h2, h4){
    margin: 0;
}

.coolbtn {
    width: fit-content;
    width: -moz-fit-content;
    background: none;
    border: 4px solid var(--theme);
    border-radius: 8px;
    padding: 15px;
    color: var(--theme);
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.2s;
}

.coolbtn:hover, .smallCoolBtn:hover{
    opacity: 0.8;
}

.coolbtn:active, .coolbtn:disabled, .smallCoolBtn:active, .smallCoolBtn:disabled{
    opacity: 0.5;
}

label[for="name_input"]{
    font-size: 28px;
    font-weight: bolder;
}

#name_input{
    background: none;
    border: 1px solid transparent;
    font-size: 18px;
    text-align: left;
    width: 200px;
    height: fit-content;
    height: -moz-fit-content;
    padding: 5px;
    color: white;
    outline: none;
    border-radius: 4px;
    margin: auto 7px;
}

#name_input:hover{
    border: 1px solid darkgray;
}

#name_input:focus{
    border: 1px solid white;
}

.modal {
    background: #202020;
    border: 1px solid #b0b0b0;
    position: fixed;
    top: 10%;
    transform: translate(-50%, 0);
    left: 50%;
    right: 15%;
    width: min(500px, 80%);
    min-height: 300px;
    padding: 20px;
    display: none;
    max-height: 80%;
    overflow: auto;
    z-index: 3;
}

.modal .header{
    margin: 0 0 20px 0;
}

.close{
    float: right;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}

.word__desc{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    column-gap: 10px;

}

#results ul li{
    text-decoration: underline wavy;
    cursor: pointer;
}

#results ul li:hover{
    opacity: 0.8;
}

.hear-word{
    cursor: pointer;
}

.smallbtn{
    color: lightgray;
    background: none;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.smallbtn:hover{
    opacity: 0.8;
}

#curPuzzle{
    border: 2px solid var(--theme);
    width: 300px;
    background: none;
    color: white;
    padding: 10px;
    outline: none;
    cursor: pointer;
}

.smallCoolBtn {
    background: none;
    border: 3px solid var(--theme);
    padding: 10px;
    color: var(--theme);
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;
}

#deleteInput{
    margin: 0 0 10px 0;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    border: 0;
}

#deleteDelete{
    background: #c90303;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

#deleteDelete:hover{
    opacity: 0.8;
}

#deleteDelete:active, #deleteDelete:disabled{
    opacity: 0.5
}

.squareCircle{
    --s: calc((var(--width) / 2 - 10px) / var(--size) - 20px);
    display: none;
    position: absolute;
    width: var(--s);
    height: var(--s);
    border-radius: 100%;
    opacity: 0.8;
    animation: 200ms ease popin;
}

@keyframes popin{
    0% {
        width: calc(0.8 * var(--s));
        height: calc(0.8 * var(--s));
    }
    1000% {
        width: calc(1 * var(--s));
        height: calc(0.8 * var(--s));
    }
}

.selected{
    background: var(--theme);
    color: white;
    border-radius: 8px;
}

.tooltip {
    display: none;
    color: black;
    background: white;
    padding: 10px;
    width: 200px;
    height: fit-content;
    height: -moz-fit-content;
    border-radius: 8px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

@media (max-width: 1000px){
    :root{
        --width: 100vw;
    }
}

/* The Modal (background) */
.BigModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
    color: black;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 100px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: calc(var(--width) - 30px);
    z-index: 6;
}

#shareEmojis{
    width: min(100%, 500px);
    height: 150px;
    background: whitesmoke;
    padding: 10px;
    outline: none;
    display: block;
    margin: 20px 0;
}

.alert{
    position: fixed;
    width: min(90%, 200px);
    border: 2px solid yellow;
    font-size: 18px;
    padding: 20px;
    right: 20px;
    top: 20px;
    background: black;
    border-radius: 8px;
    z-index: 7;
    cursor: pointer;
    animation: 0.2s fadein;
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1;}
}